body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.input-group {
  width: 500px;
}

.input-group-addon {
  width: 20px !important;
}

.highlight {
  background-color: gold;
  border: none;
  padding: 0;
}

footer {
  margin-top: 20px;
  font-size: small;
}